.experiencie__box {
    margin: 0 32px 64px 32px;
}

@media (min-width: 768px) {

    .experiencie__box {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {

    .experiencie__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .experiencie__box:nth-child(2){
        margin-top: 50px;
        
}

     .experiencie__box:nth-child(3){
        flex-direction: row-reverse;
}

    .experiencie__box:nth-child(5){
        flex-direction: row-reverse;
} 
}