.title__bio {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: white;
}


@media (min-width: 1000px) {

    .title__bio {
        font-size: 35px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        margin-left: 50px; 
}
}